# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# OS
.DS_Store

# Editor/IDE
.vscode/
.idea/

# Log/temp
*.log
*.tmp

# Node & PHP
node_modules/
vendor/

# Jaga-jaga
AppData/
*/AppData/
Android/
*/Android/
